In [4]:
#pip install pandas

In [5]:
#import the librarys
import pandas as pd

In [14]:
#read the csv file and set the columns names
data = pd.read_csv('log_cortes.csv', names=['date', 'corte'])
data.head()

                  date   corte
0  2024-12-30 23:06:26     278
1  2024-12-31 16:37:56    1550
2  2024-12-31 18:04:53    5217
3  2025-01-01 20:50:06   96313
4  2025-01-03 22:55:37  180331

In [16]:
#transfor the data type of the column 'data' to datetime
data['date'] = pd.to_datetime(data['date'])
#transform the data type of the column 'corte' from milliseconds to minutes
data['corte'] = data['corte'] / 60000
data.head()

                 date     corte
0 2024-12-30 23:06:26  0.004633
1 2024-12-31 16:37:56  0.025833
2 2024-12-31 18:04:53  0.086950
3 2025-01-01 20:50:06  1.605217
4 2025-01-03 22:55:37  3.005517

In [17]:
data.describe()

                                date      corte
count                             13  13.000000
mean   2025-01-12 05:30:54.999999744   2.348960
min              2024-12-30 23:06:26   0.003683
25%              2025-01-01 20:50:06   0.086950
50%              2025-01-15 22:51:47   1.175067
75%              2025-01-20 17:01:06   2.367067
max              2025-01-21 21:03:57  16.373300
std                              NaN   4.368379